{% extends '_layout.html.twig' %}

{% block body %}
    <h1>It works!</h1>
    <p>
        Also on subpages :)
    </p>
    <p>
        <a href="{{ base('index.html') }}">Back to main site</a>
    </p>
{% endblock %}