{% extends '_layout.html.twig' %}

{% block title 'It works!' %}

{% block body %}
    <h1>Hello world!</h1>
    <p>
        Now you can start over here!
    </p>
    <p>
        All other content on this rendered page (index.html.twig),
        you can find in _layout.html.twig.
    </p>
    <p>
        You can dynamically add pages. It is very easy using the
        <code>base</code> Command:
    </p>
    <p>
        <a href="{{ base('subpage/page.html') }}">
            <code>
                {{ '{{' }} base('subpage/page.html') {{ '}}' }}
            </code>
        </a>
    </p>
{% endblock %}
